*{
    margin:1px;
    padding:2px;
    box-sizing: border-box;
}
/* nav section */
.div{
    text-align: center;
    color: darkorange;
    font-size: 25px; 
}
li{
    list-style: none;
    font-size: 18px;
    font-weight: 800;
}
a{
    text-decoration: none;
}
li a:hover{
    color:  #940a0a;
    font-size: 20px;
}
.flex{
    display: flex; 
     align-items: center;
     gap: 30px;
}

.navigation{
    justify-content: space-between;
}
.ham span{
    display: block;
    width: 30px;
    height: 4px;
    background-color: #000;
    margin: 3px 0px;
    border-radius: 5px;
}
.ham{
    display: none;
}
.nav-button button{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    margin-left: 20px;
    background-color: rgb(210, 108, 30);
}
.img img{
    border-radius: 50%;
} 
/* button section   */
.buttons button{
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 10px;
    font-weight: 600;
    display: flex;
    margin-left: 400px;
    background-color: orange;
    color: white;
}
/* about section */
h1{
    color: brown;
    text-shadow: 1px 1px 2px violet;
}
.about h2,p{
    font-size: 20px;
}
.div img{
    border-radius: 50%;
    align-items: center;
} 
.color h2{
    color: rgb(239, 139, 18);
}
.color h4,h5{
    color: rgb(100, 22, 196);
}
/* achieve section */
.achieve img{
    border-radius: 50%;
    align-items: center;
}